<div class="topo mb-4">
  <div class="container">
    <div class="row" style="max-width: 1024px">
      <div class="col">
        <div class="d-flex mt-2 justify-content-center">
          <h1 style="color: #fff" class="texto">
            <img style="border: 2px solid #fff" class="imagem" src="../../assets/emilyn.jpg" />Emilyn C. Pieritz -
            <a href="https://www.linkedin.com/in/ecpieritz/"><i class="fa fa-linkedin"></i></a>
            -
            <a href="https://github.com/EPieritz"><i class="fa fa-github"></i></a>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>